header,
section,
footer {
  border: 1px solid;
}

/* Hero section*/
.hero-section {
  background-color: #ccc;
}

.hero-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey-text-op60);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-text);
}

.hero-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--grey-text);
}

.hero-btn {
  border: none;
  background-color: transparent;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  color: var(--grey-text-op60);
}

.hero-btn-forward {
  color: var(--white-text);
}

/* About section */
.about-section {
  padding-top: 158px;
  padding-bottom: 100px;
}

.about-flex-container {
  display: flex;
  justify-content: space-between;
}

.about-image-list {
  display: flex;
  margin-right: 64px;
}

.about-image-item {
  margin-right: 30px;
}

.about-image-item:last-child {
  margin-right: 0;
}

.about-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.about-main-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grafite);
}

.about-secondary-text {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--grafite-light);
}

.about-description {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--grafite-light);
}

.ordering-button-dark {
  color: var(--grafite);
}

/* Services & Prises */
.prises-section {
  padding-top: 130px;
  padding-bottom: 130px;

  background-image: linear-gradient(
      to bottom,
      rgba(17, 19, 25, 0.7),
      rgba(17, 19, 25, 0.7)
    ),
    url(../images/prises.jpg);
  background-size: cover;
}

.services-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey-text-op60);
}

.services-title {
  margin-bottom: 44px;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--white-text);
}

.tables-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.services-table {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--grey-text);
}

.services-table-left {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-table-right {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.button-container {
  text-align: center;
}

.ordering-button-filled {
  background-color: var(--accent);
}

/* Advantages */
.advantages-section {
  padding-top: 120px;
  padding-bottom: 130px;
}

.advantages-flex {
  display: flex;
  padding-left: 115px;
  padding-right: 85px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  /* margin-left: 100px; */
  margin-right: 130px;
}

.advantages-item {
  padding: 20px 24px;
  max-width: 170px;
  max-height: 133px;
  text-align: center;

  background-color: var(--grey-background);
}

.advantages-item:nth-child(1) {
  margin-right: 30px;
}

.advantages-item:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-item:nth-child(3) {
  margin-right: 30px;
  margin-top: -30px;
}

.advantages-item:nth-child(4) {
  padding: 20px;
}

.advantages-number {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.advantages-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
}

.advantages-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.advantages-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.advantages-main-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* Team */
.team-container {
  padding-top: 130px;
  padding-bottom: 62px;
  background-color: var(--grey-background);
}

.team-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.team-title {
  margin-bottom: 44px;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.team-list {
  display: flex;
}

.team-thumb {
  margin-right: 30px;
  max-width: 370px;
}

.team-thumb:last-child {
  margin-right: 0;
}

.team-content {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

.person-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
}

.person-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--accent);
}

.person-links {
  display: flex;
  justify-content: center;
}

.person-links-item {
  margin-right: 10px;
}

.person-links-item:last-child {
  margin-right: 0;
}

.icon-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white-background);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--grafite);
}

.icon-background:hover,
.icon-background:focus {
  color: var(--accent);
}

.social-icon {
  fill: currentColor;
}

/* Works */

.works-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.works-list {
  display: flex;
}

/* Online */
.online-container {
  display: flex;
}

.online-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--white-text);
}

.sending-button {
  border: none;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: transparent;
}

.sending-button:hover,
.sending-button:focus {
  background-color: var(--accent);
}

.online-contacts-item {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--grey-text);
}

.mail-underlined {
  text-decoration: underline;
}

.online-schedule {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-text);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
  color: var(--grafite);
}
